:root {
  --primary: #1073ba;
  --secundary: #00da55;
  --customGrey: #3b3b3b;
  --customWhite: #ffffff;
  --customBlack: #1f1e1e;
  --customLightGrey: #e1e1e1;

  --separation: 5rem;

  --principalFont: "Ubuntu-Regular", sans-serif;
  --secondaryFont: "Asap-Regular", sans-serif;
}

body {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: var(--principalFont);
  font-size: 1.6rem;
  line-height: 1.5;
}
